<!DOCTYPE html>
<html lang="zh-hans" ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<title>AngularJS--基础--引导应用</title>
		<script src="bower_components/angular/Angular.js"></script>
		<script src="js/app.js"></script>
	</head>

	<body>
		<div class="container">
			<h1 class="page-header">AngularJS</h1>
			<!--<div ng-app>
				{{ 1+1 }}
				{{ 2 * 15 }}
				{{ 'hello' + 'scott'}}
			</div>-->
			<!--{{ 1+1 }}
			{{ 2 * 15 }}
			{{ 'hello' + 'scott'}}-->
			
			<div ng-controller="UserController">
				<!--双边数据绑定-->
				<input type="text" ng-model="user.name" />
				<input type="text" ng-model="user.email" />
				
				<p>用户名：{{user.name}}</p>
				<p>E-mail:{{user.email}}</p>
				<button ng-click="user.subscribe()">订阅</button>
			</div>
			
			
			<div ng-controller="ShowController">
				<ul>
					<li ng-repeat="show in shows">
						{{show.title}}
					</li>
				</ul>
			</div>
			
			
			
		</div>
	</body>

</html>